In [1]:
# Install the Cassandra python driver
!pip install cassandra-driver

Collecting cassandra-driver
  Downloading cassandra_driver-3.29.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.2 kB)
Collecting geomet<0.3,>=0.1 (from cassandra-driver)
  Downloading geomet-0.2.1.post1-py3-none-any.whl.metadata (1.0 kB)
Requirement already satisfied: click in /usr/local/lib/python3.11/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.1.8)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from geomet<0.3,>=0.1->cassandra-driver) (1.17.0)
Downloading cassandra_driver-3.29.2-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.9/3.9 MB 28.5 MB/s eta 0:00:00
Downloading geomet-0.2.1.post1-py3-none-any.whl (18 kB)
Installing collected packages: geomet, cassandra-driver
Successfully installed cassandra-driver-3.29.2 geomet-0.2.1.post1

In [2]:
# Import the necessary libraries
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import json

In [3]:
# This secure connect bundle is autogenerated when you download your SCB,
# if yours is different update the file name below
cloud_config= {
  'secure_connect_bundle': 'secure-connect-cassandra-assignment.zip'
}

# This token JSON file is autogenerated when you download your token,
# if yours is different update the file name below
with open("Cassandra_Assignment-token.json") as f:
    secrets = json.load(f)

CLIENT_ID = secrets["clientId"]
CLIENT_SECRET = secrets["secret"]

auth_provider = PlainTextAuthProvider(CLIENT_ID, CLIENT_SECRET)
cluster = Cluster(cloud=cloud_config, auth_provider=auth_provider)
session = cluster.connect()

if session:
  print('Connected!')
else:
  print("An error occurred.")

WARNING:cassandra.cluster:Downgrading core protocol version from 66 to 65 for 8a776286-bae0-4630-8fcf-30d0e60245c2-eu-west-1.db.astra.datastax.com:29042:9e3a5bee-3d95-3bf7-90f5-09bd2177324b. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 65 to 5 for 8a776286-bae0-4630-8fcf-30d0e60245c2-eu-west-1.db.astra.datastax.com:29042:9e3a5bee-3d95-3bf7-90f5-09bd2177324b. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version
WARNING:cassandra.cluster:Downgrading core protocol version from 5 to 4 for 8a776286-bae0-4630-8fcf-30d0e60245c2-eu-west-1.db.astra.datastax.com:29042:9e3a5bee-3d95-3bf7-90f5-09bd2177324b. To avoid this, it is best practice to explicitly set Cluster(protocol_version) to the version supported by your cluster. http://datastax.github.io/python-driver/api/cassandra/cluster.html#cassandra.cluster.Cluster.protocol_version

Connected!

### Creating Bronze Table

In [5]:
def create_tables(session):
    # Bronze Table
    session.execute("""
    CREATE TABLE IF NOT EXISTS eluri.bronze_sales (
        id UUID PRIMARY KEY,
        region TEXT,
        country TEXT,
        item_type TEXT,
        sales_channel TEXT,
        order_priority TEXT,
        order_date TEXT,
        order_id TEXT,
        ship_date TEXT,
        units_sold INT,
        unit_price FLOAT,
        unit_cost FLOAT,
        total_revenue FLOAT,
        total_cost FLOAT,
        total_profit FLOAT
    );
    """)



    print("Tables created successfully.")

create_tables(session)

Tables created successfully.

In [6]:
# Load the CSV file
import uuid
import pandas as pd

file_path = 'sales_100.csv'
data = pd.read_csv(file_path)

def load_bronze_table(session, data):
    for _, row in data.iterrows():
        session.execute("""
        INSERT INTO eluri.bronze_sales (id, region, country, item_type, sales_channel, order_priority, order_date, order_id, ship_date, units_sold, unit_price, unit_cost, total_revenue, total_cost, total_profit)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
        """, (uuid.uuid4(), row['Region'], row['Country'], row['Item Type'], row['Sales Channel'], row['Order Priority'], row['Order Date'], str(row['Order ID']), row['Ship Date'], row['UnitsSold'], row['UnitPrice'], row['UnitCost'], row['TotalRevenue'], row['TotalCost'], row['TotalProfit']))
    print("Bronze table loaded successfully.")

load_bronze_table(session, data)

Bronze table loaded successfully.

In [7]:
# Select the data from the users table
session = cluster.connect()
rowo = session.execute("SELECT * FROM eluri.bronze_sales;")

# Count the number of rows
row_count = sum(1 for _ in rowo)
print(f"Total Rows in eluri.bronze_sales: {row_count}")

rows = session.execute("SELECT * FROM eluri.bronze_sales")
for row in rows:
    print(row)

# Close the session
session.shutdown()

Total Rows in eluri.bronze_sales: 99
Row(id=UUID('eed9b386-ff7e-498e-b30e-3c7248862e62'), country='Egypt', item_type='Clothes', order_date='8/9/2016', order_id='882908809', order_priority='C', region='Middle East and North Africa', sales_channel='Online', ship_date='8/24/2016', total_cost=42721.28125, total_profit=87540.4765625, total_revenue=130261.7578125, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=1192)
Row(id=UUID('08a2350b-be1f-4f56-b36e-4fbe02b02809'), country='Dominica', item_type='Household', order_date='11/19/2011', order_id='274930989', order_priority='C', region='Central America and the Caribbean', sales_channel='Offline', ship_date='12/13/2011', total_cost=3539891.75, total_profit=1167402.125, total_revenue=4707294.0, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=7044)
Row(id=UUID('e7d0397f-f4c4-45a0-bac7-9f77b4dea110'), country='United States of America', item_type='Personal Care', order_date='1/21/2016', order_id='190777862', order_priority='H', region='North America', sales_channel='Online', ship_date='2/19/2016', total_cost=241640.875, total_profit=106855.84375, total_revenue=348496.71875, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=4264)
Row(id=UUID('b5b5c2d2-76b5-466c-9ed0-43bd7504a89e'), country='Djibouti', item_type='Clothes', order_date='5/17/2017', order_id='880811536', order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='7/2/2017', total_cost=20142.080078125, total_profit=41273.28125, total_revenue=61415.359375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=562)
Row(id=UUID('98aed96c-cc1b-407f-b540-edfd9f58c13e'), country='Romania', item_type='Beverages', order_date='2/19/2012', order_id='756839835', order_priority='M', region='Europe', sales_channel='Online', ship_date='3/13/2012', total_cost=145629.984375, total_profit=71738.4609375, total_revenue=217368.453125, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=4581)
Row(id=UUID('688513c4-2371-47d2-bbf4-bfbf6d2d2d8b'), country='Kuwait', item_type='Household', order_date='6/13/2011', order_id='459386289', order_priority='C', region='Middle East and North Africa', sales_channel='Offline', ship_date='7/21/2011', total_cost=736723.625, total_profit=242960.1875, total_revenue=979683.8125, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=1466)
Row(id=UUID('1561d184-73bb-4b8e-ac9e-6e94ba360468'), country='Pakistan', item_type='Meat', order_date='12/28/2013', order_id='500371730', order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date='2/15/2014', total_cost=3635594.5, total_profit=570226.8125, total_revenue=4205821.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=9969)
Row(id=UUID('0d219746-01fd-4bf9-a919-3a50283dccf7'), country='Indonesia', item_type='Household', order_date='9/28/2011', order_id='520480573', order_priority='C', region='Asia', sales_channel='Online', ship_date='9/28/2011', total_cost=313082.40625, total_profit=103249.7890625, total_revenue=416332.21875, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=623)
Row(id=UUID('95ac4c03-2625-48e8-af64-dbdf2b3ef159'), country='Romania', item_type='Cereal', order_date='4/16/2015', order_id='633134210', order_priority='M', region='Europe', sales_channel='Online', ship_date='4/18/2015', total_cost=859236.0625, total_profit=649984.8125, total_revenue=1509220.875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=7337)
Row(id=UUID('44bb91fa-535a-4b9a-8a9c-9ef075b98d60'), country='United Kingdom', item_type='Cosmetics', order_date='5/1/2015', order_id='135178029', order_priority='L', region='Europe', sales_channel='Online', ship_date='5/16/2015', total_cost=273336.53125, total_profit=180477.0625, total_revenue=453813.59375, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=1038)
Row(id=UUID('b59fb749-cba1-44f8-9cf7-958617cb674d'), country='Tonga', item_type='Baby Food', order_date='5/11/2016', order_id='839094388', order_priority='L', region='Australia and Oceania', sales_channel='Online', ship_date='5/31/2016', total_cost=881752.0, total_profit=530201.6875, total_revenue=1411953.625, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=5531)
Row(id=UUID('0bb986f0-bdb1-4ea4-94fd-6cf239887bc6'), country='The Gambia', item_type='Fruits', order_date='11/20/2011', order_id='862861335', order_priority='C', region='Sub-Saharan Africa', sales_channel='Online', ship_date='11/22/2011', total_cost=60197.078125, total_profit=20964.58984375, total_revenue=81161.671875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=8699)
Row(id=UUID('16def375-fdbb-48fe-9166-9f3c9e318cc1'), country='Taiwan', item_type='Cereal', order_date='4/11/2010', order_id='498071897', order_priority='H', region='Asia', sales_channel='Online', ship_date='5/26/2010', total_cost=1100482.625, total_profit=832480.25, total_revenue=1932962.875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=9397)
Row(id=UUID('059b4800-c974-4f12-80da-c2f45eb4a6ff'), country='Seychelles ', item_type='Beverages', order_date='1/18/2013', order_id='425793445', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='2/16/2013', total_cost=18978.630859375, total_profit=9349.01953125, total_revenue=28327.650390625, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=597)
Row(id=UUID('696723bc-412f-45a9-b1ae-1558b038b7f1'), country='Ethiopia', item_type='Cosmetics', order_date='7/7/2011', order_id='807785928', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='7/25/2011', total_cost=174324.453125, total_profit=115101.9375, total_revenue=289426.40625, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=662)
Row(id=UUID('fd48dc92-3e0d-4d04-ba2d-6310846830cc'), country='Zimbabwe', item_type='Office Supplies', order_date='3/28/2011', order_id='953361213', order_priority='C', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='4/8/2011', total_cost=5051690.0, total_profit=1214903.75, total_revenue=6266594.0, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=9623)
Row(id=UUID('359e9da4-a3d7-4499-825b-df4527d0cbdc'), country='Samoa ', item_type='Household', order_date='12/5/2016', order_id='937431466', order_priority='L', region='Australia and Oceania', sales_channel='Online', ship_date='12/8/2016', total_cost=2842868.75, total_profit=937534.625, total_revenue=3780403.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=5657)
Row(id=UUID('705a0053-a445-4530-8ad8-0a2c8fc5b91b'), country='South Korea', item_type='Meat', order_date='3/16/2016', order_id='297876536', order_priority='L', region='Asia', sales_channel='Offline', ship_date='4/20/2016', total_cost=2604251.25, total_profit=408465.1875, total_revenue=3012716.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=7141)
Row(id=UUID('66bd9687-070e-48bf-aab8-c9cbff1d9464'), country='Monaco', item_type='Beverages', order_date='5/29/2016', order_id='467399013', order_priority='M', region='Europe', sales_channel='Offline', ship_date='6/14/2016', total_cost=82940.109375, total_profit=40856.94140625, total_revenue=123797.046875, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=2609)
Row(id=UUID('a01a4227-7074-4a8d-8b68-cc798112aae5'), country='Netherlands', item_type='Fruits', order_date='11/19/2016', order_id='845056617', order_priority='L', region='Europe', sales_channel='Online', ship_date='11/30/2016', total_cost=68418.0390625, total_profit=23827.669921875, total_revenue=92245.7109375, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=9887)
Row(id=UUID('c36ea9f9-bb8d-4fad-aa64-b57b42ea8fb0'), country='Togo', item_type='Cosmetics', order_date='9/8/2015', order_id='563681733', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='9/9/2015', total_cost=1265564.0, total_profit=835619.25, total_revenue=2101183.25, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=4806)
Row(id=UUID('78f6e88a-0763-4464-baf4-151a5d05daf7'), country='Moldova ', item_type='Fruits', order_date='1/27/2013', order_id='180908620', order_priority='C', region='Europe', sales_channel='Online', ship_date='3/3/2013', total_cost=25853.119140625, total_profit=9003.759765625, total_revenue=34856.87890625, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=3736)
Row(id=UUID('c4c3e0ea-4ac1-4933-8221-2db87efc1d84'), country='Algeria', item_type='Cosmetics', order_date='2/18/2011', order_id='761723172', order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date='2/24/2011', total_cost=2546137.75, total_profit=1681149.0, total_revenue=4227287.0, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=9669)
Row(id=UUID('ff7c3933-8ec1-4e6a-b72d-4ec583ad0c3d'), country='Mauritius ', item_type='Clothes', order_date='11/17/2012', order_id='349235904', order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='12/2/2012', total_cost=197836.796875, total_profit=405388.8125, total_revenue=603225.625, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=5520)
Row(id=UUID('b6f83245-b391-40e1-8f7f-89034e13ee04'), country='Indonesia', item_type='Personal Care', order_date='10/22/2012', order_id='678896129', order_priority='L', region='Asia', sales_channel='Offline', ship_date='10/31/2012', total_cost=527371.0, total_profit=233208.359375, total_revenue=760579.375, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=9306)
Row(id=UUID('1252f02e-8cf0-4c4c-b6bf-dad6ed47bb60'), country='Malaysia', item_type='Beverages', order_date='11/13/2014', order_id='955894076', order_priority='M', region='Asia', sales_channel='Online', ship_date='12/28/2014', total_cost=291005.65625, total_profit=143351.640625, total_revenue=434357.3125, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=9154)
Row(id=UUID('acc0e65a-3459-40f6-b42b-0365fea41af0'), country='Sao Tome and Principe', item_type='Clothes', order_date='11/11/2015', order_id='548299157', order_priority='L', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='12/28/2015', total_cost=98918.3984375, total_profit=202694.40625, total_revenue=301612.8125, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=2760)
Row(id=UUID('9e571ca2-cf46-417e-ab7f-2e42980a8ab0'), country='Switzerland', item_type='Office Supplies', order_date='7/29/2014', order_id='830410039', order_priority='C', region='Europe', sales_channel='Offline', ship_date='8/27/2014', total_cost=2960249.5, total_profit=711923.75, total_revenue=3672173.25, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=5639)
Row(id=UUID('9a918270-ef27-4231-bfa1-9c900b497548'), country='Vanuatu', item_type='Fruits', order_date='11/3/2013', order_id='571997869', order_priority='C', region='Australia and Oceania', sales_channel='Online', ship_date='11/11/2013', total_cost=39686.19921875, total_profit=13821.349609375, total_revenue=53507.55078125, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=5735)
Row(id=UUID('f3a11c42-d525-4f3c-b1c1-5726ebb8be17'), country='Sri Lanka', item_type='Fruits', order_date='11/7/2011', order_id='830192887', order_priority='L', region='Asia', sales_channel='Online', ship_date='12/18/2011', total_cost=9542.6796875, total_profit=3323.389892578125, total_revenue=12866.0703125, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1379)
Row(id=UUID('e26effcd-d9fd-4007-866c-76516646d9d6'), country='Saint Lucia', item_type='Fruits', order_date='12/12/2015', order_id='731120240', order_priority='L', region='Central America and the Caribbean', sales_channel='Offline', ship_date='1/12/2016', total_cost=24780.51953125, total_profit=8630.2099609375, total_revenue=33410.73046875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=3581)
Row(id=UUID('47c8ed52-3b51-4a39-a3c5-3038d95f295a'), country='Papua New Guinea', item_type='Clothes', order_date='6/20/2011', order_id='647164094', order_priority='L', region='Australia and Oceania', sales_channel='Offline', ship_date='7/14/2011', total_cost=325857.28125, total_profit=667716.5, total_revenue=993573.75, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=9092)
Row(id=UUID('e55d3315-aa8b-45d7-b5a2-e9bf709351cd'), country='United Arab Emirates', item_type='Office Supplies', order_date='6/23/2012', order_id='425418365', order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date='7/6/2012', total_cost=5041191.0, total_profit=1212378.75, total_revenue=6253569.5, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=9603)
Row(id=UUID('25ba3f2b-805e-43f2-9c6c-b07e2565cd10'), country='Papua New Guinea', item_type='Meat', order_date='5/15/2015', order_id='940995585', order_priority='M', region='Australia and Oceania', sales_channel='Offline', ship_date='6/4/2015', total_cost=131288.40625, total_profit=20592.0, total_revenue=151880.40625, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=360)
Row(id=UUID('fd3636a6-919a-428b-935b-1dc6ba1ebfad'), country='New Zealand', item_type='Beverages', order_date='10/11/2012', order_id='940980136', order_priority='M', region='Australia and Oceania', sales_channel='Online', ship_date='11/4/2012', total_cost=184000.515625, total_profit=90640.078125, total_revenue=274640.59375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=5788)
Row(id=UUID('d77047ee-3e6a-46ea-94a2-5afb5dc08f2d'), country='Thailand', item_type='Fruits', order_date='9/30/2012', order_id='434008300', order_priority='C', region='Asia', sales_channel='Offline', ship_date='11/14/2012', total_cost=10760.599609375, total_profit=3747.550048828125, total_revenue=14508.150390625, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1555)
Row(id=UUID('f14bedb0-43bd-42a4-b41e-18f34547de5f'), country='Belgium', item_type='Personal Care', order_date='11/1/2011', order_id='222504317', order_priority='H', region='Europe', sales_channel='Online', ship_date='11/20/2011', total_cost=160206.09375, total_profit=70844.6171875, total_revenue=231050.703125, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=2827)
Row(id=UUID('43a6a915-9e80-4d5f-be58-68dd79a88aeb'), country='Solomon Islands', item_type='Household', order_date='12/17/2010', order_id='101328551', order_priority='M', region='Australia and Oceania', sales_channel='Online', ship_date='12/28/2010', total_cost=2123231.5, total_profit=700209.25, total_revenue=2823440.75, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=4225)
Row(id=UUID('518c0707-04a1-404e-84d6-f76b3a8efc3d'), country='Burundi', item_type='Beverages', order_date='3/9/2011', order_id='529276502', order_priority='H', region='Sub-Saharan Africa', sales_channel='Online', ship_date='4/9/2011', total_cost=112314.0703125, total_profit=55326.78125, total_revenue=167640.84375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=3533)
Row(id=UUID('ea4db720-b4d1-4a16-be46-67c0a8cf0111'), country='Finland', item_type='Vegetables', order_date='10/9/2012', order_id='642134416', order_priority='C', region='Europe', sales_channel='Offline', ship_date='11/27/2012', total_cost=63469.140625, total_profit=44064.73828125, total_revenue=107533.8828125, unit_cost=90.93000030517578, unit_price=154.05999755859375, units_sold=698)
Row(id=UUID('64eda829-d1a4-4406-92c5-53491785684e'), country='The Bahamas', item_type='Personal Care', order_date='1/19/2011', order_id='246248090', order_priority='C', region='Central America and the Caribbean', sales_channel='Online', ship_date='2/21/2011', total_cost=517793.78125, total_profit=228973.21875, total_revenue=746767.0, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=9137)
Row(id=UUID('ef187e9f-3606-453f-90cb-015593d8c057'), country='Morocco', item_type='Clothes', order_date='9/14/2013', order_id='667593514', order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date='10/19/2013', total_cost=165258.234375, total_profit=338631.84375, total_revenue=503890.09375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=4611)
Row(id=UUID('bc029adc-b89e-47e9-8951-657521d428cd'), country='East Timor', item_type='Cereal', order_date='12/7/2015', order_id='156295812', order_priority='M', region='Australia and Oceania', sales_channel='Offline', ship_date='12/30/2015', total_cost=30331.490234375, total_profit=22944.810546875, total_revenue=53276.30078125, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=259)
Row(id=UUID('47e03248-a7f4-40c3-b129-87e405a7f098'), country='Slovakia', item_type='Beverages', order_date='10/26/2016', order_id='174590194', order_priority='L', region='Europe', sales_channel='Offline', ship_date='12/4/2016', total_cost=126301.671875, total_profit=62217.1796875, total_revenue=188518.84375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=3973)
Row(id=UUID('b23db238-614c-475f-8fc0-f23b1655574e'), country='Estonia', item_type='Household', order_date='9/1/2011', order_id='835696351', order_priority='H', region='Europe', sales_channel='Offline', ship_date='10/21/2011', total_cost=5013339.0, total_profit=1653322.5, total_revenue=6666661.5, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=9976)
Row(id=UUID('61b74fdc-087e-4b9b-85ab-2f69ff1edde0'), country='Tanzania', item_type='Fruits', order_date='10/20/2014', order_id='156530129', order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date='11/29/2014', total_cost=66425.078125, total_profit=23133.58984375, total_revenue=89558.671875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=9599)
Row(id=UUID('ef13380c-5119-4aca-a63f-1239e1958654'), country='Nepal', item_type='Meat', order_date='2/21/2014', order_id='179137074', order_priority='H', region='Asia', sales_channel='Online', ship_date='3/14/2014', total_cost=3463096.25, total_profit=543171.1875, total_revenue=4006267.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=9496)
Row(id=UUID('d08070f3-13c9-4454-bd5f-bf5f23e62ce7'), country='Thailand', item_type='Meat', order_date='2/4/2015', order_id='252889239', order_priority='C', region='Asia', sales_channel='Online', ship_date='2/19/2015', total_cost=1605000.75, total_profit=251737.203125, total_revenue=1856737.875, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=4401)
Row(id=UUID('b2f47e90-9402-40f6-bf1f-fece46305940'), country='Ghana', item_type='Clothes', order_date='11/2/2011', order_id='791778934', order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date='12/1/2011', total_cost=137482.234375, total_profit=281715.84375, total_revenue=419198.09375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=3836)
Row(id=UUID('62ac398e-cf2d-48af-b518-b9cb0bcb9fe1'), country='Taiwan', item_type='Fruits', order_date='2/9/2014', order_id='732588374', order_priority='M', region='Asia', sales_channel='Offline', ship_date='2/23/2014', total_cost=55595.28125, total_profit=19361.939453125, total_revenue=74957.21875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=8034)
Row(id=UUID('efa41461-8af3-4a77-8f16-b124627c4338'), country='Rwanda', item_type='Fruits', order_date='9/5/2012', order_id='699160754', order_priority='L', region='Sub-Saharan Africa', sales_channel='Online', ship_date='9/15/2012', total_cost=41928.28125, total_profit=14602.1904296875, total_revenue=56530.46875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=6059)

In [9]:
session = cluster.connect()
session.set_keyspace('eluri')  # Replace 'example' with your keyspace

# Query data from Bronze table
rows = session.execute("SELECT * FROM bronze_sales;")

# Convert the data to a Pandas DataFrame
data = []
for row in rows:
    data.append(row._asdict())  # Convert Cassandra rows to dictionary
df = pd.DataFrame(data)

# Display the first few rows for verification
print("Bronze Data:\n", df.head())

Bronze Data:
                                      id                   country  \
0  eed9b386-ff7e-498e-b30e-3c7248862e62                     Egypt
1  08a2350b-be1f-4f56-b36e-4fbe02b02809                  Dominica
2  e7d0397f-f4c4-45a0-bac7-9f77b4dea110  United States of America
3  b5b5c2d2-76b5-466c-9ed0-43bd7504a89e                  Djibouti
4  98aed96c-cc1b-407f-b540-edfd9f58c13e                   Romania

       item_type  order_date   order_id order_priority  \
0        Clothes    8/9/2016  882908809              C
1      Household  11/19/2011  274930989              C
2  Personal Care   1/21/2016  190777862              H
3        Clothes   5/17/2017  880811536              H
4      Beverages   2/19/2012  756839835              M

                              region sales_channel   ship_date    total_cost  \
0       Middle East and North Africa        Online   8/24/2016  4.272128e+04
1  Central America and the Caribbean       Offline  12/13/2011  3.539892e+06
2                      North America        Online   2/19/2016  2.416409e+05
3                 Sub-Saharan Africa       Offline    7/2/2017  2.014208e+04
4                             Europe        Online   3/13/2012  1.456300e+05

   total_profit  total_revenue   unit_cost  unit_price  units_sold
0  8.754048e+04   1.302618e+05   35.840000  109.279999        1192
1  1.167402e+06   4.707294e+06  502.540009  668.270020        7044
2  1.068558e+05   3.484967e+05   56.669998   81.730003        4264
3  4.127328e+04   6.141536e+04   35.840000  109.279999         562
4  7.173846e+04   2.173685e+05   31.790001   47.450001        4581

In [10]:
# Check for null values
print("\nNull Value Counts:")
print(df.isnull().sum())

# Check for zero values in numeric columns
numeric_cols = ['units_sold', 'unit_price', 'unit_cost', 'total_revenue', 'total_cost', 'total_profit']
zero_counts = (df[numeric_cols] == 0).sum()
print("\nZero Value Counts in Numeric Columns:")
print(zero_counts)

# Descriptive statistics
print("\nDescriptive Statistics:")
print(df.describe())

Null Value Counts:
id                0
country           0
item_type         0
order_date        0
order_id          0
order_priority    0
region            0
sales_channel     0
ship_date         0
total_cost        0
total_profit      0
total_revenue     0
unit_cost         0
unit_price        0
units_sold        0
dtype: int64

Zero Value Counts in Numeric Columns:
units_sold       0
unit_price       0
unit_cost        0
total_revenue    0
total_cost       0
total_profit     0
dtype: int64

Descriptive Statistics:
         total_cost  total_profit  total_revenue   unit_cost  unit_price  \
count  9.900000e+01  9.900000e+01   9.900000e+01   99.000000   99.000000
mean   1.044069e+06  4.174464e+05   1.461515e+06  191.126769  271.181016
std    1.337149e+06  4.503887e+05   1.724090e+06  185.365590  233.458916
min    9.155160e+03  3.188430e+03   1.234359e+04    6.920000    9.330000
25%    9.318011e+04  5.877198e+04   1.597606e+05   35.840000   81.730003
50%    3.924920e+05  2.517372e+05   6.525323e+05  117.110001  205.699997
75%    1.596572e+06  6.588507e+05   2.172734e+06  364.690002  437.200012
max    5.051690e+06  1.681149e+06   6.666662e+06  524.960022  668.270020

        units_sold
count    99.000000
mean   4998.080808
std    2992.013804
min     259.000000
25%    2473.500000
50%    4806.000000
75%    7722.000000
max    9976.000000

### Creating Silver table

In [11]:
def create_tables(session):
    session.execute("""
    CREATE TABLE IF NOT EXISTS eluri.silver_sales (
        id UUID PRIMARY KEY,
        region TEXT,
        country TEXT,
        item_type TEXT,
        sales_channel TEXT,
        order_priority TEXT,
        order_date DATE,
        order_id BIGINT,
        ship_date DATE,
        units_sold INT,
        unit_price FLOAT,
        unit_cost FLOAT,
        total_revenue FLOAT,
        total_cost FLOAT,
        total_profit FLOAT
    );
    """)



    print("Tables created successfully.")

create_tables(session)

Tables created successfully.

In [12]:
import uuid
from datetime import datetime

# Convert string to date (YYYY-MM-DD format)
def convert_to_date(date_string):
    try:
        return datetime.strptime(date_string, "%m/%d/%Y").date()  # Assuming format is MM/DD/YYYY
    except ValueError:
        return None  # Return None if the date format is incorrect

# Convert order_id to BIGINT (long integer)
def convert_to_bigint(order_id_string):
    try:
        return int(order_id_string)
    except ValueError:
        return None  # Return None if order_id is invalid

# Insert cleaned data with converted order_id and dates into Silver table
for _, row in df.iterrows():
    order_date = convert_to_date(row['order_date'])
    ship_date = convert_to_date(row['ship_date'])
    order_id = convert_to_bigint(row['order_id'])  # Convert order_id to BIGINT

    session.execute("""
    INSERT INTO eluri.silver_sales (
        id, region, country, item_type, sales_channel, order_priority, order_date,
        order_id, ship_date, units_sold, unit_price, unit_cost, total_revenue, total_cost, total_profit
    ) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
    """, (
        uuid.uuid4(),
        row['region'],
        row['country'],
        row['item_type'],
        row['sales_channel'],
        row['order_priority'],
        order_date,  # Store the converted date
        order_id,  # Store the converted BIGINT order_id
        ship_date,  # Store the converted date
        row['units_sold'],
        row['unit_price'],
        row['unit_cost'],
        row['total_revenue'],
        row['total_cost'],
        row['total_profit']
    ))

print("Data loaded to silver table")

Data loaded to silver table

In [13]:
rows = session.execute("SELECT * FROM eluri.silver_sales")
for row in rows:
    print(row)

Row(id=UUID('77c9dc38-525e-4e3a-9026-7f5185b83f19'), country='Uganda', item_type='Cosmetics', order_date=Date(16494), order_id=842238795, order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date=Date(16509), total_cost=1588143.25, total_profit=1048610.0, total_revenue=2636753.25, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=6031)
Row(id=UUID('1940198d-04cc-4453-a046-f86ea08f6c5d'), country='Indonesia', item_type='Personal Care', order_date=Date(15635), order_id=678896129, order_priority='L', region='Asia', sales_channel='Offline', ship_date=Date(15644), total_cost=527371.0, total_profit=233208.359375, total_revenue=760579.375, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=9306)
Row(id=UUID('ab582ad3-071d-46ec-b7ba-947fcfcb81ad'), country='Oman', item_type='Cosmetics', order_date=Date(14942), order_id=358570849, order_priority='H', region='Middle East and North Africa', sales_channel='Online', ship_date=Date(14971), total_cost=2090050.25, total_profit=1380006.25, total_revenue=3470056.5, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=7937)
Row(id=UUID('3f5207b5-c68d-459a-ac82-76e19b695275'), country='Thailand', item_type='Fruits', order_date=Date(15613), order_id=434008300, order_priority='C', region='Asia', sales_channel='Offline', ship_date=Date(15658), total_cost=10760.599609375, total_profit=3747.550048828125, total_revenue=14508.150390625, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1555)
Row(id=UUID('debf4817-6b64-47af-a7f8-524b1afe5c97'), country='Ghana', item_type='Fruits', order_date=Date(16950), order_id=496523940, order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=Date(16956), total_cost=9155.16015625, total_profit=3188.429931640625, total_revenue=12343.58984375, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1323)
Row(id=UUID('8ea0e831-e459-4ea1-909e-100ea4f0d024'), country='Lebanon', item_type='Meat', order_date=Date(17233), order_id=704205024, order_priority='L', region='Middle East and North Africa', sales_channel='Online', ship_date=Date(17274), total_cost=3198331.25, total_profit=501644.0, total_revenue=3699975.25, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=8770)
Row(id=UUID('b429d7b5-ebe9-43ac-852e-eb2b82214c9c'), country='Turkmenistan', item_type='Vegetables', order_date=Date(16538), order_id=116205585, order_priority='M', region='Asia', sales_channel='Online', ship_date=Date(16588), total_cost=606503.125, total_profit=421077.09375, total_revenue=1027580.1875, unit_cost=90.93000030517578, unit_price=154.05999755859375, units_sold=6670)
Row(id=UUID('ec6ef532-c9b7-46f8-b0ed-7f06aad2a3da'), country='China', item_type='Office Supplies', order_date=Date(16841), order_id=198927056, order_priority='M', region='Asia', sales_channel='Online', ship_date=Date(16889), total_cost=3040043.25, total_profit=731113.75, total_revenue=3771157.0, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=5791)
Row(id=UUID('d2f956ae-e91b-48a5-8173-0ad734109e2a'), country='Mauritius ', item_type='Clothes', order_date=Date(15661), order_id=349235904, order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=Date(15676), total_cost=197836.796875, total_profit=405388.8125, total_revenue=603225.625, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=5520)
Row(id=UUID('6f9eb420-8c2f-4a18-9504-09a2b144fc10'), country='Romania', item_type='Cereal', order_date=Date(16541), order_id=633134210, order_priority='M', region='Europe', sales_channel='Online', ship_date=Date(16543), total_cost=859236.0625, total_profit=649984.8125, total_revenue=1509220.875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=7337)
Row(id=UUID('0578d3cd-efbd-40c6-9139-f714fba61e23'), country='Singapore', item_type='Snacks', order_date=Date(15733), order_id=176461303, order_priority='C', region='Asia', sales_channel='Online', ship_date=Date(15743), total_cost=747949.4375, total_profit=423254.625, total_revenue=1171204.125, unit_cost=97.44000244140625, unit_price=152.5800018310547, units_sold=7676)
Row(id=UUID('258acba4-64ae-4883-99e2-c83075cafb4a'), country='Dominican Republic', item_type='Baby Food', order_date=Date(15211), order_id=824714744, order_priority='H', region='Central America and the Caribbean', sales_channel='Offline', ship_date=Date(15241), total_cost=43681.078125, total_profit=26265.640625, total_revenue=69946.71875, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=274)
Row(id=UUID('2dbd9f7b-dbea-404a-89c5-da3570beb7c4'), country='Ghana', item_type='Clothes', order_date=Date(15280), order_id=791778934, order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date=Date(15309), total_cost=137482.234375, total_profit=281715.84375, total_revenue=419198.09375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=3836)
Row(id=UUID('4dfda312-bb49-4ed6-88db-122756ae9209'), country='Haiti', item_type='Office Supplies', order_date=Date(14974), order_id=485070693, order_priority='C', region='Central America and the Caribbean', sales_channel='Online', ship_date=Date(15005), total_cost=1077217.875, total_profit=259065.0, total_revenue=1336282.875, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=2052)
Row(id=UUID('b7df7698-1899-460d-9e6b-6aecf7ae2a7b'), country='Papua New Guinea', item_type='Clothes', order_date=Date(15145), order_id=647164094, order_priority='L', region='Australia and Oceania', sales_channel='Offline', ship_date=Date(15169), total_cost=325857.28125, total_profit=667716.5, total_revenue=993573.75, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=9092)
Row(id=UUID('0aa94a52-5e0c-491d-b0a8-0c36ad298e15'), country='Italy', item_type='Cereal', order_date=Date(16769), order_id=887409770, order_priority='C', region='Europe', sales_channel='Online', ship_date=Date(16774), total_cost=366085.875, total_profit=276932.34375, total_revenue=643018.1875, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=3126)
Row(id=UUID('e067b85a-0313-47fa-97f0-4ddba19b5fbe'), country='Ghana', item_type='Office Supplies', order_date=Date(17248), order_id=601245963, order_priority='L', region='Sub-Saharan Africa', sales_channel='Online', ship_date=Date(17271), total_cost=470364.15625, total_profit=113120.0, total_revenue=583484.1875, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=896)
Row(id=UUID('019eb9ef-eed3-4b66-be03-d4b959aaa7c1'), country='Belize', item_type='Personal Care', order_date=Date(16600), order_id=315402734, order_priority='H', region='Central America and the Caribbean', sales_channel='Online', ship_date=Date(16649), total_cost=200215.109375, total_profit=88536.9765625, total_revenue=288752.09375, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=3533)
Row(id=UUID('1b1ef902-fdb1-46b5-ac59-79ec2ebe7836'), country='Tanzania', item_type='Fruits', order_date=Date(16363), order_id=156530129, order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=Date(16403), total_cost=66425.078125, total_profit=23133.58984375, total_revenue=89558.671875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=9599)
Row(id=UUID('8d29100c-e073-44d2-842e-48cc2d6db91c'), country='Dominica', item_type='Household', order_date=Date(15297), order_id=274930989, order_priority='C', region='Central America and the Caribbean', sales_channel='Offline', ship_date=Date(15321), total_cost=3539891.75, total_profit=1167402.125, total_revenue=4707294.0, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=7044)
Row(id=UUID('d89f1096-489f-486f-b91b-c56487004a05'), country='Democratic Republic of the Congo', item_type='Cosmetics', order_date=Date(15620), order_id=584356629, order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date=Date(15638), total_cost=781300.125, total_profit=515872.28125, total_revenue=1297172.375, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=2967)
Row(id=UUID('69c8e0fa-fbf5-4694-ba03-62faefe324f1'), country='Canada', item_type='Cosmetics', order_date=Date(15103), order_id=368977391, order_priority='H', region='North America', sales_channel='Online', ship_date=Date(15127), total_cost=1965495.125, total_profit=1297765.625, total_revenue=3263260.75, unit_cost=263.3299865722656, unit_price=437.20001220703125, units_sold=7464)
Row(id=UUID('69c702c4-d1db-4dab-9c47-da6181d5ac2f'), country='Nepal', item_type='Meat', order_date=Date(16122), order_id=179137074, order_priority='H', region='Asia', sales_channel='Online', ship_date=Date(16143), total_cost=3463096.25, total_profit=543171.1875, total_revenue=4006267.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=9496)
Row(id=UUID('0ecd9b02-fb80-4e75-9114-4993430c7491'), country='Israel', item_type='Beverages', order_date=Date(15956), order_id=371502530, order_priority='H', region='Middle East and North Africa', sales_channel='Offline', ship_date=Date(15991), total_cost=149699.109375, total_profit=73742.9375, total_revenue=223442.046875, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=4709)
Row(id=UUID('dee64e17-2e0c-458d-889a-12d5375c7330'), country='South Africa', item_type='Fruits', order_date=Date(15548), order_id=443368995, order_priority='M', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=Date(15549), total_cost=11023.5595703125, total_profit=3839.1298828125, total_revenue=14862.6904296875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=1593)
Row(id=UUID('6dd6e41d-042a-4640-9e3b-6f74d015734c'), country='Taiwan', item_type='Fruits', order_date=Date(16110), order_id=732588374, order_priority='M', region='Asia', sales_channel='Offline', ship_date=Date(16124), total_cost=55595.28125, total_profit=19361.939453125, total_revenue=74957.21875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=8034)
Row(id=UUID('fc1e5db0-b738-42bf-a902-15a587535148'), country='Rwanda', item_type='Fruits', order_date=Date(15588), order_id=699160754, order_priority='L', region='Sub-Saharan Africa', sales_channel='Online', ship_date=Date(15598), total_cost=41928.28125, total_profit=14602.1904296875, total_revenue=56530.46875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=6059)
Row(id=UUID('6f12d93f-e6bb-44e0-af84-b683d8d6000b'), country='Seychelles ', item_type='Beverages', order_date=Date(15723), order_id=425793445, order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date=Date(15752), total_cost=18978.630859375, total_profit=9349.01953125, total_revenue=28327.650390625, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=597)
Row(id=UUID('2a6a5d92-0e70-45fe-b09a-2478396b17a6'), country='Greece', item_type='Cereal', order_date=Date(16669), order_id=887124383, order_priority='H', region='Europe', sales_channel='Online', ship_date=Date(16716), total_cost=1015812.125, total_profit=768429.6875, total_revenue=1784241.75, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=8674)
Row(id=UUID('bb4f3946-1389-4030-9d33-52827758d3d3'), country='Serbia', item_type='Clothes', order_date=Date(16988), order_id=925136649, order_priority='L', region='Europe', sales_channel='Offline', ship_date=Date(16995), total_cost=263352.3125, total_profit=539637.125, total_revenue=802989.4375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=7348)
Row(id=UUID('85a5a306-3add-4fa0-88fd-3a83df0aa064'), country='Djibouti', item_type='Clothes', order_date=Date(17303), order_id=880811536, order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=Date(17349), total_cost=20142.080078125, total_profit=41273.28125, total_revenue=61415.359375, unit_cost=35.84000015258789, unit_price=109.27999877929688, units_sold=562)
Row(id=UUID('32f65f17-7a66-4137-8d8a-2998b2f72133'), country='The Gambia', item_type='Fruits', order_date=Date(15298), order_id=862861335, order_priority='C', region='Sub-Saharan Africa', sales_channel='Online', ship_date=Date(15300), total_cost=60197.078125, total_profit=20964.58984375, total_revenue=81161.671875, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=8699)
Row(id=UUID('21d3008d-6930-4ec3-b28b-729bb68cf9d7'), country='Burundi', item_type='Beverages', order_date=Date(15042), order_id=529276502, order_priority='H', region='Sub-Saharan Africa', sales_channel='Online', ship_date=Date(15073), total_cost=112314.0703125, total_profit=55326.78125, total_revenue=167640.84375, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=3533)
Row(id=UUID('5a65ed36-36f7-46ac-a385-27a66fa93d24'), country='Thailand', item_type='Meat', order_date=Date(16470), order_id=252889239, order_priority='C', region='Asia', sales_channel='Online', ship_date=Date(16485), total_cost=1605000.75, total_profit=251737.203125, total_revenue=1856737.875, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=4401)
Row(id=UUID('1b6f5f86-4567-4557-b88f-55085f37af03'), country='Malawi', item_type='Meat', order_date=Date(16861), order_id=450544869, order_priority='H', region='Sub-Saharan Africa', sales_channel='Offline', ship_date=Date(16872), total_cost=1857730.875, total_profit=291376.8125, total_revenue=2149107.75, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=5094)
Row(id=UUID('a4cc280d-ea13-4d31-b077-3f2bae08cd74'), country='Belgium', item_type='Personal Care', order_date=Date(15279), order_id=222504317, order_priority='H', region='Europe', sales_channel='Online', ship_date=Date(15298), total_cost=160206.09375, total_profit=70844.6171875, total_revenue=231050.703125, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=2827)
Row(id=UUID('3989cb94-a529-40fb-99d3-420356375b7a'), country='The Bahamas', item_type='Personal Care', order_date=Date(14993), order_id=246248090, order_priority='C', region='Central America and the Caribbean', sales_channel='Online', ship_date=Date(15026), total_cost=517793.78125, total_profit=228973.21875, total_revenue=746767.0, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=9137)
Row(id=UUID('90d6d375-d6e4-4973-8a8f-11348e9a6c84'), country='Iceland', item_type='Baby Food', order_date=Date(14884), order_id=678230941, order_priority='M', region='Europe', sales_channel='Offline', ship_date=Date(14916), total_cost=392492.03125, total_profit=236007.3125, total_revenue=628499.375, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=2462)
Row(id=UUID('b29becd6-9fef-4f82-890a-8b1d95633a27'), country='Uganda', item_type='Personal Care', order_date=Date(16240), order_id=539471471, order_priority='M', region='Sub-Saharan Africa', sales_channel='Online', ship_date=Date(16272), total_cost=25558.169921875, total_profit=11302.0595703125, total_revenue=36860.23046875, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=451)
Row(id=UUID('85ef8804-09b0-44a5-b34a-96f57d18da77'), country='Sweden', item_type='Beverages', order_date=Date(15596), order_id=265081918, order_priority='H', region='Europe', sales_channel='Online', ship_date=Date(15625), total_cost=78998.1484375, total_profit=38915.1015625, total_revenue=117913.25, unit_cost=31.790000915527344, unit_price=47.45000076293945, units_sold=2485)
Row(id=UUID('21901701-4f61-4f97-88dd-e41c346b2839'), country='Brunei', item_type='Cereal', order_date=Date(15853), order_id=153842341, order_priority='L', region='Asia', sales_channel='Offline', ship_date=Date(15902), total_cost=494438.40625, total_profit=374026.96875, total_revenue=868465.375, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=4222)
Row(id=UUID('436bbafd-8123-401a-9e5d-5e649b53b9e2'), country='Vanuatu', item_type='Cereal', order_date=Date(16241), order_id=572335612, order_priority='C', region='Australia and Oceania', sales_channel='Offline', ship_date=Date(16287), total_cost=665301.9375, total_profit=503279.78125, total_revenue=1168581.75, unit_cost=117.11000061035156, unit_price=205.6999969482422, units_sold=5681)
Row(id=UUID('b70a891e-8550-43eb-8b9f-6db63d29e053'), country='Finland', item_type='Household', order_date=Date(16815), order_id=757257401, order_priority='H', region='Europe', sales_channel='Offline', ship_date=Date(16831), total_cost=4094696.0, total_profit=1350368.0, total_revenue=5445064.0, unit_cost=502.5400085449219, unit_price=668.27001953125, units_sold=8148)
Row(id=UUID('c432ed88-b37e-485c-811c-b5e0573b1ffa'), country='Vanuatu', item_type='Fruits', order_date=Date(16012), order_id=571997869, order_priority='C', region='Australia and Oceania', sales_channel='Online', ship_date=Date(16020), total_cost=39686.19921875, total_profit=13821.349609375, total_revenue=53507.55078125, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=5735)
Row(id=UUID('246ebefb-28b2-4653-9b81-00b99afb03ea'), country='Nicaragua', item_type='Baby Food', order_date=Date(17116), order_id=343752610, order_priority='L', region='Central America and the Caribbean', sales_channel='Online', ship_date=Date(17121), total_cost=460883.21875, total_profit=277131.25, total_revenue=738014.5, unit_cost=159.4199981689453, unit_price=255.27999877929688, units_sold=2891)
Row(id=UUID('37bd3a9c-5fc7-4de0-bb58-a19dc7996880'), country='Moldova ', item_type='Fruits', order_date=Date(15732), order_id=180908620, order_priority='C', region='Europe', sales_channel='Online', ship_date=Date(15767), total_cost=25853.119140625, total_profit=9003.759765625, total_revenue=34856.87890625, unit_cost=6.920000076293945, unit_price=9.329999923706055, units_sold=3736)
Row(id=UUID('d3073fa4-8fee-40ce-a4f9-5dfd512ea44d'), country='Pakistan', item_type='Meat', order_date=Date(16067), order_id=500371730, order_priority='M', region='Middle East and North Africa', sales_channel='Online', ship_date=Date(16116), total_cost=3635594.5, total_profit=570226.8125, total_revenue=4205821.5, unit_cost=364.69000244140625, unit_price=421.8900146484375, units_sold=9969)
Row(id=UUID('dffca247-2650-4095-9280-3acc7ec87e57'), country='Kazakhstan', item_type='Snacks', order_date=Date(15956), order_id=710296428, order_priority='L', region='Asia', sales_channel='Online', ship_date=Date(16003), total_cost=131738.875, total_profit=74549.28125, total_revenue=206288.15625, unit_cost=97.44000244140625, unit_price=152.5800018310547, units_sold=1352)
Row(id=UUID('405cdf1f-3a2a-4be8-ba84-a8ec1b6ebd9f'), country='Italy', item_type='Office Supplies', order_date=Date(15062), order_id=797385394, order_priority='H', region='Europe', sales_channel='Online', ship_date=Date(15075), total_cost=1529208.5, total_profit=367766.25, total_revenue=1896974.75, unit_cost=524.9600219726562, unit_price=651.2100219726562, units_sold=2913)
Row(id=UUID('04ebd4c0-28ef-40c9-a20e-778f729fa5a6'), country='Finland', item_type='Vegetables', order_date=Date(15622), order_id=642134416, order_priority='C', region='Europe', sales_channel='Offline', ship_date=Date(15671), total_cost=63469.140625, total_profit=44064.73828125, total_revenue=107533.8828125, unit_cost=90.93000030517578, unit_price=154.05999755859375, units_sold=698)
Row(id=UUID('89d21a5a-9445-4546-8799-dadf3674756f'), country='United States of America', item_type='Personal Care', order_date=Date(16821), order_id=190777862, order_priority='H', region='North America', sales_channel='Online', ship_date=Date(16850), total_cost=241640.875, total_profit=106855.84375, total_revenue=348496.71875, unit_cost=56.66999816894531, unit_price=81.7300033569336, units_sold=4264)

**Gold** **Tables**

In [14]:
session.execute("""
CREATE TABLE IF NOT EXISTS eluri.gold_sales_by_region (
    region TEXT PRIMARY KEY,
    total_revenue FLOAT,
    total_profit FLOAT
);
""")
print("Gold table 1: sales_by_region created successfully.")

Gold table 1: sales_by_region created successfully.

In [15]:
from collections import defaultdict

# Aggregate total revenue and profit by region
region_sales = defaultdict(lambda: {'total_revenue': 0, 'total_profit': 0})

# Retrieve data from Silver table
rows = session.execute("SELECT region, total_revenue, total_profit FROM eluri.silver_sales")
for row in rows:
    region_sales[row.region]['total_revenue'] += row.total_revenue
    region_sales[row.region]['total_profit'] += row.total_profit

# Insert aggregated data into Gold table
for region, sales_data in region_sales.items():
    session.execute("""
    INSERT INTO eluri.gold_sales_by_region (region, total_revenue, total_profit)
    VALUES (%s, %s, %s);
    """, (region, sales_data['total_revenue'], sales_data['total_profit']))

print("Gold table 1: Data for total_sales_by_region inserted successfully.")

Gold table 1: Data for total_sales_by_region inserted successfully.

In [16]:
rows = session.execute("SELECT * FROM eluri.gold_sales_by_region")
for row in rows:
    print(row.region, row.total_profit, row.total_revenue)

Australia and Oceania 3486940.0 10711258.0
Europe 11267281.0 34964748.0
Middle East and North Africa 6514262.0 24765128.0
Central America and the Caribbean 4252300.0 17570836.0
Asia 6749896.0 28840812.0
Sub-Saharan Africa 7651892.0 24225438.0
North America 1404621.5 3611757.5

In [17]:
session.execute("""
CREATE TABLE IF NOT EXISTS eluri.gold_top_selling_products (
    item_type TEXT PRIMARY KEY,
    total_revenue FLOAT,
    total_units_sold INT
);
""")
print("Gold table 2: top_selling_products created successfully.")

Gold table 2: top_selling_products created successfully.

In [18]:
top_selling = defaultdict(lambda: {'total_revenue': 0, 'total_units_sold': 0})

# Aggregate total revenue and units sold by product type
rows = session.execute("SELECT item_type, total_revenue, units_sold FROM eluri.silver_sales")
for row in rows:
    top_selling[row.item_type]['total_revenue'] += row.total_revenue
    top_selling[row.item_type]['total_units_sold'] += row.units_sold

# Insert aggregated data into Gold table
for item_type, sales_data in top_selling.items():
    session.execute("""
    INSERT INTO eluri.gold_top_selling_products (item_type, total_revenue, total_units_sold)
    VALUES (%s, %s, %s);
    """, (item_type, sales_data['total_revenue'], sales_data['total_units_sold']))

print("Gold table 2: Data for top_selling_products inserted successfully.")

Gold table 2: Data for top_selling_products inserted successfully.

In [19]:
rows = session.execute("SELECT * FROM eluri.gold_top_selling_products")
for row in rows:
    print(row.item_type, row.total_revenue, row.total_units_sold)

Household 38519084.0 57640
Office Supplies 27880904.0 42814
Vegetables 1135114.125 7368
Snacks 2193642.75 14377
Personal Care 3191147.75 39045
Meat 21278866.0 50437
Fruits 615033.625 65920
Beverages 2145024.75 45206
Cereal 9416123.0 45776
Cosmetics 28727100.0 65707
Baby Food 5200564.0 20372
Clothes 4387373.5 40148

In [20]:
session.execute("""
CREATE TABLE IF NOT EXISTS eluri.gold_sales_performance (
    year INT,
    month INT,
    total_revenue FLOAT,
    total_profit FLOAT,
    PRIMARY KEY (year, month)
);
""")
print("Gold table 3: sales_performance created successfully.")

Gold table 3: sales_performance created successfully.

In [21]:
from datetime import datetime

# Aggregate sales performance by year and month
monthly_sales = defaultdict(lambda: {'total_revenue': 0, 'total_profit': 0})

# Convert order_date to year and month, and aggregate revenue and profit
rows = session.execute("SELECT order_date, total_revenue, total_profit FROM eluri.silver_sales")
for row in rows:
    if row.order_date:
        # Convert order_date to a Python datetime object
        order_date = datetime.strptime(str(row.order_date), '%Y-%m-%d')  # Ensure correct format

        # Extract year and month
        year, month = order_date.year, order_date.month

        # Aggregate sales data by year and month
        monthly_sales[(year, month)]['total_revenue'] += row.total_revenue
        monthly_sales[(year, month)]['total_profit'] += row.total_profit

# Insert aggregated data into Gold table
for (year, month), sales_data in monthly_sales.items():
    session.execute("""
    INSERT INTO eluri.gold_sales_performance (year, month, total_revenue, total_profit)
    VALUES (%s, %s, %s, %s);
    """, (year, month, sales_data['total_revenue'], sales_data['total_profit']))

print("Gold table 3: Data for sales_performance inserted successfully.")

Gold table 3: Data for sales_performance inserted successfully.

In [22]:
rows = session.execute("SELECT * FROM eluri.gold_sales_performance")
for row in rows:
    print(row)

Row(year=2014, month=2, total_profit=562533.125, total_revenue=4081224.75)
Row(year=2014, month=3, total_profit=1592127.625, total_revenue=4003440.5)
Row(year=2014, month=6, total_profit=514581.84375, total_revenue=1205442.0)
Row(year=2014, month=7, total_profit=2102895.5, total_revenue=9280963.0)
Row(year=2014, month=10, total_profit=23133.58984375, total_revenue=89558.671875)
Row(year=2014, month=11, total_profit=143351.640625, total_revenue=434357.3125)
Row(year=2010, month=4, total_profit=1032559.3125, total_revenue=2585495.25)
Row(year=2010, month=6, total_profit=11423.400390625, total_revenue=44224.19921875)
Row(year=2010, month=8, total_profit=715456.4375, total_revenue=2884921.5)
Row(year=2010, month=10, total_profit=236007.3125, total_revenue=628499.375)
Row(year=2010, month=11, total_profit=1380006.25, total_revenue=3470056.5)
Row(year=2010, month=12, total_profit=959274.25, total_revenue=4159723.5)
Row(year=2012, month=2, total_profit=71738.4609375, total_revenue=217368.453125)
Row(year=2012, month=6, total_profit=1311052.375, total_revenue=6552552.0)
Row(year=2012, month=7, total_profit=1186156.0, total_revenue=3100162.0)
Row(year=2012, month=9, total_profit=57264.84375, total_revenue=188951.875)
Row(year=2012, month=10, total_profit=1178729.375, total_revenue=3256076.75)
Row(year=2012, month=11, total_profit=405388.8125, total_revenue=603225.625)
Row(year=2017, month=3, total_profit=614764.0, total_revenue=4283459.5)
Row(year=2017, month=4, total_profit=297783.1875, total_revenue=2196359.25)
Row(year=2017, month=5, total_profit=41273.28125, total_revenue=61415.359375)
Row(year=2015, month=2, total_profit=1300347.25, total_revenue=4493491.0)
Row(year=2015, month=4, total_profit=1071061.875, total_revenue=2536801.0)
Row(year=2015, month=5, total_profit=201069.0625, total_revenue=605694.0)
Row(year=2015, month=6, total_profit=215455.625, total_revenue=626742.8125)
Row(year=2015, month=8, total_profit=768429.6875, total_revenue=1784241.75)
Row(year=2015, month=9, total_profit=835619.25, total_revenue=2101183.25)
Row(year=2015, month=10, total_profit=1291202.375, total_revenue=5206491.5)
Row(year=2015, month=11, total_profit=479626.75, total_revenue=944631.0)
Row(year=2015, month=12, total_profit=1032718.4375, total_revenue=2604084.5)
Row(year=2011, month=1, total_profit=228973.21875, total_revenue=746767.0)
Row(year=2011, month=2, total_profit=1681149.0, total_revenue=4227287.0)
Row(year=2011, month=3, total_profit=1637996.75, total_revenue=8331209.5)
Row(year=2011, month=5, total_profit=1297765.625, total_revenue=3263260.75)
Row(year=2011, month=6, total_profit=910676.6875, total_revenue=1973257.5)
Row(year=2011, month=7, total_profit=115101.9375, total_revenue=289426.40625)
Row(year=2011, month=8, total_profit=26265.640625, total_revenue=69946.71875)
Row(year=2011, month=9, total_profit=1756572.25, total_revenue=7082993.5)
Row(year=2011, month=10, total_profit=794996.25, total_revenue=4100669.25)
Row(year=2011, month=11, total_profit=2171467.75, total_revenue=6907926.5)
Row(year=2016, month=1, total_profit=1457223.875, total_revenue=5793560.5)
Row(year=2016, month=2, total_profit=769781.3125, total_revenue=3897266.5)
Row(year=2016, month=3, total_profit=699842.0, total_revenue=5161824.0)
Row(year=2016, month=5, total_profit=1924869.125, total_revenue=4944264.0)
Row(year=2016, month=7, total_profit=539637.125, total_revenue=802989.4375)
Row(year=2016, month=8, total_profit=87540.4765625, total_revenue=130261.7578125)
Row(year=2016, month=9, total_profit=155472.484375, total_revenue=231345.765625)
Row(year=2016, month=10, total_profit=290615.59375, total_revenue=528379.625)
Row(year=2016, month=11, total_profit=324073.09375, total_revenue=900296.4375)
Row(year=2016, month=12, total_profit=937534.625, total_revenue=3780403.5)
Row(year=2013, month=1, total_profit=441607.40625, total_revenue=1234388.625)
Row(year=2013, month=5, total_profit=374026.96875, total_revenue=868465.375)
Row(year=2013, month=9, total_profit=486924.0625, total_revenue=933620.3125)
Row(year=2013, month=11, total_profit=13821.349609375, total_revenue=53507.55078125)
Row(year=2013, month=12, total_profit=570226.8125, total_revenue=4205821.5)